body{
    background-color: beige;
}
div{
    background-color: rgb(239, 201, 253);
    margin:50px 30%;
    padding: 10px;
    border: 1px solid rgb(169, 103, 169);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#btn-enviar{
    background-color: rgb(169, 103, 169);
    border: 1px rgb(116, 70, 116) solid;
    margin-top: 10px;
    padding: 2px;
    border-radius: 2px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}